* {
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

#container {
    height: 100%;
    width: 100%;
}

#title-container {
    width: 100%;
    height: 150px;
    margin: 0;
    background-color: green;
}

#guess-container {
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 40px;
}

#game-row {
    font-size: 0;
}

#info-container {
    display: inline-block;
    height: 400px;
    width: 50%;
    vertical-align: top;
    font-size: 20px;
}

#hangman {
    display: inline-block;
    width: 50%;
}

.image {
    width: 100%;
    height: 100%;
}

/* Spans can't be animated without a display property, unfortunately */
span {
    display: inline-block;
}